  
/*---------------------- plik _szukaj_mrowki.scss -------------------------*/

.informacje {
    margin: 10px;
    padding: 14px;

}


// .ramka_na_dwa_slidery {
//     display: flex;    
//     flex-direction: column;

//     height: 900px;
//     width: 600px;
//     margin: 5%;

// }

$kolorRamki: rgb(41, 40, 40);

.ramka_na_slider {
    display: grid;

    height: 700px;
    width: 700px;

    // // display: 'block';
    background: rgb(41, 40, 40);
    // // margin: 0 25px 0 25px; 
    // //width: 100%;
    // position: relative;
    // // overflow: auto;

    // &__poziomy{
    //     height: 25%;
    //     background: rgb(40, 60, 170);
    //     z-index: 1;
    // }
    
    // &__pionowy {
    //     height: 75%;
    //     background: green;
   
    // }

    grid-template-columns: 50px auto  50px;	//definiuje 3 kolumny
    grid-template-rows:	50px 600px  50px ;	//definiuje 3 wiersze
    grid-template-areas:
        "gora		gora	    gora"
        "lewo		srodek		prawo"
        "dol		dol		    dol" ;
//powyżej nazywam wszystkie komorki. Jak nie che dawać nazwy, daje kropkę. Muszę tworzyć prostokąty
        &__gora {
            grid-area: gora;
            background: $kolorRamki;
            z-index: 1;

        }
        
        &__srodek {
            grid-area: srodek;
            display: 'block';
            height: 600px;
            width: 600px;
        }
        
        &__lewo {
            grid-area: lewo;
            z-index: 1;
            background: $kolorRamki;
        }

        &__prawo {
            grid-area: prawo;
            z-index: 1;
            background: $kolorRamki;
        }

        &__dol {
            grid-area: dol;
            z-index: 1;
            background: $kolorRamki;
        }

}


// .slider {
//     /*
//      -webkit-text-size-adjust: 100%;
//     font: 112.5%/1.45em georgia,serif;
//     //color: rgba(90,0,0,.8);
//     font-family: georgia,serif;
//     //font-weight: 400;
//     word-wrap: break-word;
//     font-kerning: normal;
//     font-feature-settings: "kern","liga","clig","calt","kern";
//     direction: ltr;
//     unicode-bidi: isolate;
//     box-sizing: border-box;
//     user-select: none;
//     touch-action: pan-y;
//     -webkit-tap-highlight-color: transparent;
//     position: relative;
//     display: block;
//     // margin: 30px auto 50px; 
// */
//     &__poziomy {

//     }
// }



.sl_okienko {
    height: 100px;
    width: 200px;
    background: #5f9ea0;
    color: #fff;
    font-size: 16px;
    // line-height: 100px;
    //margin: 10px 10px 10px ;
    // border: 2px;
    // padding: 14px;
    // position: relative;
    text-align: center;
}



.box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    float: left;

    &__select {
        border: 5px solid #999;
        border-color: greenyellow;
    }
  }


  .carousel-container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .carousel-display{
    height: 150px;
  
    &__item{
      width: 33%;
      height: 100vh;
      position: absolute;
      border-left: 3px solid black;
      border-right: 3px solid black;
      background: grey;
      font-size: 38px;
      color: white;
      font-style: bold;
      text-align: center;
    }
  }
/*----------------------- end _szukaj_mrowki.scss --------------------------*/
